<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 관리</title>
    <link rel="stylesheet" th:href="@{/css/adminstyle.css}">
</head>
<body>
<div class="container">
    <!--     SIDE AREA -->
    <div class="sideArea">
        <div class="avatar">
            <img alt=""
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCNOdyoIXDDBztO_GC8MFLmG_p6lZ2lTDh1ZnxSDawl1TZY_Zw">
            <div class="avatarName">Welcome,<br>admin</div>
        </div>
        <ul class="sideMenu">
            <li><a th:href="@{/admins}"><span class="fa fa-table"></span>ORDER</a></li>
            <li><a class="has-submenu" th:href="@{/admins/productManagement}"><span class="fa fa-table"></span>PRODUCT</a></li>
            <li><a th:href="@{/admins/memberManagement}"><span class="fa fa-table"></span>USER</a></li>
        </ul>
    </div>
    <!--     SIDE AREA -->
    <div class="mainArea">
        <!-- BEGIN NAV -->
        <nav class="navTop row">
            <div class="menuIcon fl"><span class="fa fa-bars"></span></div>
            <div class="account fr">
                <div class="name has-submenu">admin<span class="fa fa-angle-down"></span></div>
                <ul class="accountLinks submenu">
                    <li><a th:href="@{/}">홈페이지</a></li>
                    <li><a th:href="@{/members/logout}">로그아웃<span class="fa fa-sign-out fr"></span></a></li>
                </ul>
            </div>
        </nav>
        <!-- END NAV -->
        <!-- CONTAINER  -->
        <div class="mainContent">
            <!-- LIST FORM -->
            <div class="row filterGroup">
                <form action="" class="formSearch fl" method="POST">
                    <input class="inputSearch" placeholder="Search" type="text">
                    <button class="btnSearch" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <form action="" class="form scrollX" method="GET" name="listForm">
                <div class="formHeader row">
                    <h2 class="text-1 fl">회원 목록</h2>
                </div>
                <div class="table">
                    <div class="row bg-1">
                        <div class="cell cell-100 text-center text-fff">ID</div>
                        <div class="cell cell-150 text-center text-fff">이름</div>
                        <div class="cell cell-200 text-center text-fff">이메일</div>
                        <div class="cell cell-100p text-fff">가입일</div>

                    </div>
                    <!--   BEGIN LOOP -->
                    <ul>
                        <li class="row" th:each="member: ${memberlist}">
                            <div class="cell cell-100 text-center" th:text="${member.id}"></div>
                            <div class="cell cell-150 text-center" th:text="${member.username}"></div>
                            <div class="cell cell-200 text-center" th:text="${member.email}"></div>
                            <div class="cell cell-100p" th:text="${member.join_date}"></div>
                        </li>
                    </ul>
                    <!--   END LOOP -->
                </div>
            </form>

            <div id="pagination">
                <ul class="pagination list-inline text-center">
                    <li class="is-active"><a href="?page=1">1</a></li>
                    <li><a href="?page=2">2</a></li>
                    <li><a href="?page=3">3</a></li>
                    <li><a href="?page=4">4</a></li>
                    <li><a href="?page=5">5</a></li>
                </ul>
            </div>
        </div>
        <!-- END CONTAINER  -->
    </div>
</div>
<script th:src="@{/js/adminjs.js}"></script>
</body>
</html>