<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ProductManagement</title>
</head>
<body>
<h2>주문 관리 페이지</h2>
<a th:href="@{/admins}">회원 관리</a>
<a th:href="@{/admins/productManagement}">제품 관리</a>
<a th:href="@{/admins/orderManagement}">주문 관리</a>
<table>
    <tr>
        <th>제품 id</th>
        <th>판매 가능 여부</th>
        <th>가격</th>
        <th>음식 이름</th>
        <th>상세조회</th>
        <th>삭제</th>
    </tr>
    <tr th:each="product: ${productlist}">
        <td th:text="${product.product_id}"></td>
        <td th:text="${product.is_orderable}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.name}"></td>
        <td>
            <a th:href="@{|/products/${product.product_id}|}">조회</a>
        </td>
        <td>
            <a th:href="@{|/products/delete/${product.product_id}|}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>