<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ProductDetail</title>
    <link rel="stylesheet" th:href="@{/css/adminstyle.css}">
</head>
<body>
<div class="container">
    <!--     SIDE AREA -->
    <div class="sideArea">
        <div class="avatar">
            <img alt=""
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCNOdyoIXDDBztO_GC8MFLmG_p6lZ2lTDh1ZnxSDawl1TZY_Zw">
            <div class="avatarName">Welcome,<br>admin</div>
        </div>
        <ul class="sideMenu">
            <li><a th:href="@{/admins}"><span class="fa fa-table"></span>ORDER</a></li>
            <li><a class="has-submenu" th:href="@{/admins/productManagement}"><span class="fa fa-table"></span>PRODUCT</a></li>
            <li><a th:href="@{/admins/memberManagement}"><span class="fa fa-table"></span>USER</a></li>
        </ul>
    </div>
    <!--     SIDE AREA -->
    <div class="mainArea">
        <!-- BEGIN NAV -->
        <nav class="navTop row">
            <div class="menuIcon fl"><span class="fa fa-bars"></span></div>
            <div class="account fr">
                <div class="name has-submenu">admin<span class="fa fa-angle-down"></span></div>
                <ul class="accountLinks submenu">
                    <li><a th:href="@{/}">홈페이지</a></li>
                    <li><a th:href="@{/members/logout}">로그아웃<span class="fa fa-sign-out fr"></span></a></li>
                </ul>
            </div>
        </nav>
        <!-- END NAV -->
        <!-- CONTAINER  -->
        <div class="mainContent">
            <!-- DETAIL FORM -->
            <form th:action="@{|/products/${products.product_id}|}" class="form" enctype="multipart/form-data" method="POST">
                <div class="formHeader row">
                    <h2 class="text-1 fl">제품 상세</h2>
                    <div class="fr">
                        <button type="submit" class="btnSave bg-1 text-fff text-bold fr">정보 수정</button>
                    </div>
                </div>
                <div class="formBody row">
                    <div class="column s-6">
                        <label class="inputGroup">
                            <span>제품 번호</span>
                            <span><input name="product_id" type="text" th:field="${products.product_id}" readonly></span>
                        </label>
                        <label class="inputGroup">
                            <span>분류</span>
                            <span><input name="category" type="text" th:field="${products.category}" readonly></span>
                        </label>
                        <label class="inputGroup">
                            <span>이름</span>
                            <span><input name="name" type="text" th:field="${products.name}"></span>
                        </label>
                        <label class="inputGroup">
                            <span>가격</span>
                            <span><input name="price" type="text" th:field="${products.price}"></span>
                        </label>
                        <label class="inputGroup">
                            <span><label for="is_orderable">판매 가능 여부</label></span>
                            <span><input type="checkbox" th:field="*{products.is_orderable}" id="is_orderable"></span>
                        </label>
                    </div>
                    <div class="column s-6" style="text-align: center">
                        <div id="imagePreview">
                            <label class="inputGroup" style="display: inline-block">
                                이미지<input type="text" name="image_path" th:field="${products.image_path}">
                                <img alt="" th:src="${products.image_path}" width="220" style="text-align: left"><br>
                            </label>
                        </div>
                        <span style="display: inline-block">
                            <input multiple name="img" onchange="getImg(this)" type="file" style="margin-bottom: 10px"><br>
                            <button type="button" onclick="saveData()" class="btnSave bg-1 text-fff text-bold fc">이미지 저장</button>
                        </span>
                    </div>
                    <div class="column">
                        <label class="inputGroup">
                            <span>Description</span>
                            <textarea name="description" th:text="${products.description}"></textarea>
                        </label>
                    </div>
                </div>
            </form>
            <!-- END DETAIL FORM  -->
        </div>
        <!-- END CONTAINER  -->
    </div>
</div>
<script th:src="@{/js/adminjs.js}"></script>
</body>
</html>