<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form th:action="@{|/products/productUpdate/${products.product_id}|}" method="post">
    <input type="hidden" th:value="${products.product_id}" name="product_id"><br>
    판매 가능 여부: <input type="text" th:value="${products.is_orderable}" name="is_orderable" readonly> <br>
    가격: <input type="text" th:value="${products.price}" name="price"> <br>
    제품 이름: <input type="text" th:value="${products.name}" name="name"> <br>
    <input type="submit" value="정보수정">
</form>
</body>
</html>