/* Start Global Rules */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 1150px) {
    .container {
        width: 1120px;
    }
}
/* Large */
@media (min-width: 2200px) {
    .container {
        width: 2170px;
    }
}
/* End Global Rules */

/* Start Landing Page */
.landing-page header {
    min-height: 80px;
    display: flex;
}
@media (max-width: 769px) {
    .landing-page header {
        min-height: auto;
        display: initial;
    }
}
.landing-page header .container {
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 769px) {
    .landing-page header .container {
        flex-direction: column;
        justify-content: center;
    }
}
.landing-page header .logo {
    color: #5d5d5d;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
}
@media (max-width: 2200px) {
    .landing-page header .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.landing-page header .links {
    display: flex;
    align-items: center;
}
@media (max-width: 767px) {
    .landing-page header .links {
        text-align: center;
        gap: 10px;
    }
}
.landing-page header .links li {
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
    transition: .3s;
}
@media (max-width: 767px) {
    .landing-page header .links li {
        margin-left: auto;
    }
}
.landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #6c63ff;
}
.landing-page header .links li:not(:last-child):hover {
    color: #6c63ff;
}
.landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
}
@media (max-width: 2200px) {
    .landing-page .content .container {
        gap: 0;
        min-height: calc(100vh - 101px);
        justify-content: center;
        flex-direction: column-reverse;
    }
}
@media (max-width: 767px) {
    .landing-page .content .info {
        text-align: center;
        margin-bottom: 15px
    }
}
.landing-page .content .info h1 {
    color: #5d5d5d;
    font-size: 44px;
    background-image: url("https://i.postimg.cc/65QxYYzh/001234.png");
    display: flex;

}
.landing-page .content .info p {
    margin:0;
    line-height: 1.6;
    font-size: 17px;
    color: #5d5d5d;
}
.landing-page .content .info p1 {
    margin:0;
    line-height: 1.6;
    font-size: 22px;
    color: #5d5d5d;
    margin-left : 100px;
    justify-content: left;
}
.landing-page .content .info p2 {
    margin-bottom: 0;
    line-height: 1.6;
    font-size: 18px;
    color: #5d5d5d;
    margin-left : 230px;
    text-align : left;
    display: flex;
    justify-content: left;
}
.landing-page .content .info p3 {
    margin-bottom: 0;
    line-height: 1.6;
    font-size: 22px;
    color: #5d5d5d;
    text-align : left;
    display: flex;
    justify-content: left;
    float:left;
}
.landing-page .content .info p4 {
    margin-bottom: 0;
    line-height: 1.6;
    font-size: 18px;
    color: #5d5d5d;
    margin-left : 20px;
    display:flex;
    text-align : left;
    justify-content: left;
    float:left;
}
.landing-page .content .info p5 {
    margin:0;
    line-height: 1.6;
    font-size: 22px;
    color: #5d5d5d;
    justify-content: left;
    text-align : left;
}
.landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color:#B24B4B;
    background-position: left;
    display: inline-block;
;
}

/* End Landing Page */




