body {
    font-family: Arial,  "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
    background-color: #2d3042;
    position: relative;
    color: #efefef;
}
body a, body a:visited {
    color: #efefef;
    text-decoration: none;
}
body a:hover {
    color: #fff;
}

.container2 {
    background-color: #130707;
    color:#FFF;
    line-height: 2;
    padding: 20px 0;
    margin-top: 170px;
}
.container2 .content{

    width: 90%;
    max-width: 980px;
    text-align: left;
    padding-left: 25px;
}
.container2 .content.h1{
    margin-bottom: 0;
    line-height: 1.6;
    font-size: 22px;
    text-align : left;
    display: flex;
    justify-content: left;
    float:left;
}
.container2 .h2{
    margin-top: 30px;
    line-height: 1.6;
    color: #B47A7A;
    justify-content: left;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 5%;
    text-align: left;
    z-index: 1;
}
header h1 {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding-top: 18px;
}
header nav {
    display: inline-block;
    float: right;
}
header nav ul li {
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
}
header nav ul li a {
    margin-top: 20px;
    display: block;
    padding: 24px 15px;
}
header nav ul li a:hover {
    background-color: rgba(255, 255, 255, .18);
}

.page_title {
    padding: 30px 0;
}
.page_title h1 {
    color: #ffffff;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 0;
    position: relative;
    text-transform: capitalize;
}
.page_title h1::before {
    background: #fff;
    width: 70px;
    height: 2px;
    position: absolute;
    content: "";
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page_title h1::after {
    position: absolute;
    content: "";
    background: #c05050;
    width: 30px;
    height: 2px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*Menu starts*/
.menu_tab {
    margin: 0 auto;
    justify-content: center;
}
.nav-item {
    display: inline-block;
    text-align: center;
}
.nav-tabs .nav-link {
    transition: 0.3s;
}
.nav-tabs .nav-link.active {
    background: #c05050;
    color: #fff;
    font-weight: 700;
    border: 1px solid #c05050;
    text-transform: capitalize;
}
.nav-link {
    color: #fff;
}
.nav-tabs .nav-link:hover {
    background: #c05050;
    color: #fff;
    border: 1px solid #c05050;
}
.single_menu {
    position: relative;
    margin-bottom: 75px;
    transition: 0.3s;
    text-align: left;
}
.single_menu:hover img {
    clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
    display: block;
}
.single_menu img {
    width: 33%;
    position: absolute;
    height: 140px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transition: 0.3s;
    border: 1px solid #2d3042;
    border-radius: 5px;
    display: block;
}
.menu_content {
    padding-left: 200px;
}
.menu_content h4 {
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px dashed #2d3042;
    line-height: 2;
    text-transform: capitalize;
    color: #2d3042;
}
.menu_content h4 span {
    font-size: 25px;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: #c05050;
}
.menu_content p {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    color: #2d3042;
}
.menu_btn.btn.btn-danger {
    margin: 0 auto;
    display: block;
    width: 140px;
}
/*Menu ends*/
.menu_btn.btn.btn-danger {
    margin: 0 auto;
    display: block;
    width: 140px;
}
.btn.btn-danger {
    background: #c05050;
    border: 1px solid #c05050;
    transition: 0.3s;
    position: relative;
    z-index: 1;
    text-transform: capitalize;
    font-weight: 700;
    overflow: hidden;
    padding: 15px 25px;
}
.btn.btn-danger::before {
    position: absolute;
    content: "";
    background: #c05050;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 100%;
    transition: 0.3s;
    z-index: -1;
}
.btn.btn-danger:hover:before {
    top: 0;
    left: 0;
}

.form {
    background: #fff;
    /*border: 1px solid #dedede;*/
}
.formBody {
    padding: 20px 30px 10px 30px;
    margin-right:20px;
    margin-left:20px;
    display: inline-block;
}
.row2 {
    background: #fff;
}