<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>

<div class="landing-page">

    <header>

        <title>mainpage</title>
        <link rel="stylesheet" th:href="@{http://localhost:8081/css/mainpage.css}">

        <div class="container">
            <a href="#" class="logo" style="text-align: left">
                <img src="logo.png" height="80" width="200"  >

            </a>
            <ul class="links">
                <li><b>BRAND</b></li>
                <li><b>MENU</b></li>
                <li><b>ORDER</b></li>
                <li><b>MY PAGE</b></li>

                <li>LOGIN</li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="info">
                <img src="http://localhost:8081/images/TOMAHAWK.png">
                <h1>TOMAHAWK STEAK
                </h1>
                <p>
                    오직 황제만이 즐길 수 있었던 블랙 앵거스의 단 1% 부위
                    3CM 이상의 두께에서 뿜어져 나오는
                    압도적인 크기의 풍미가 가득한 예술적 스테이크</p>
                <br>
                <button>자세히 보기</button>

                <br><br><br>
                <img src="https://i.postimg.cc/65QxYYzh/001234.png">
                <button>회원가입</button>
                <p1><b>노이만의 특별한 혜택, 노이 멤버쉽
                    </b></p1>
                <br><br>
                <p2>노이 회원이세요? 로그인을 통해 리워드를 확인하세요.
                    회원이 아니세요? 가입을 통해 리워드 혜택을 즐기세요.
                </p2>
                <button>로그인</button>

                <br><br><br>
                <p3> NOI<br>
                    MEMBERSHIP<br>
                    BENEFIT</p3>
                <p4>
                    1 : 와인 2잔 10000원<br>
                    2 : 1년 1회 생일 쿠폰<br>
                    3 : 스테이크 할인 쿠폰(1만원 상당)<br>
                    4 : 10%%할인 또는 3% 적립

                </p4>
                <br><br><br><br><br><br><br><br><br><br>
                <p5>가을 한정 프로모션 </p5>    <br><br><br>
                <p4 style> 10만원 이상 식사시 2만원 상당의 쿠폰 증정
                인스타 스토리에 노이 레스토랑 태그 후 보여주시면 디저트 브라우니 케이크 무료 증정
                15만원 이상 식사시 5만원 상당의 와인 무료 증정</p4>

            </div>
            <div>
            </div>

        </div>
    </div>
</div>
<!-- End Landing Page -->