<!DOCTYPE html>
<head><title>mainpagetest</title>
    <html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
    <link rel="stylesheet" th:href="@{http://localhost:8081/css/mainpage2.css}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<html lang="en" dir="ltr">

<body>
<header>
    <h1>
        <a href="#" class="logo" style="text-align: left">
            <img src="/images/icons/logo.png" height="80" width="200"  >

        </a>
    </h1>
    <nav>
        <ul>
            <li><a href="#"><b>BRAND</b></a></li>
            <li><a href="#"><b>MENU</b></a></li>
            <li><a href="#"><b>ORDER</b></a></li>
            <li><a href="#"><b>MY PAGE</b></a></li>
            <li><a href="#" style=""><b>LOGIN</b></a></li>
        </ul>
    </nav>
</header>

<section class="main-slider">
    <div class="item image">
        <span class="loading">Loading...</span>
        <figure>
            <div class="slide-image slide-media" style="background-image:url('https://images.unsplash.com/photo-1617339847756-976edbc411e7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTE4Mg&ixlib=rb-1.2.1&q=85');">
                <img data-lazy="/images/beef/TOMAHAWK.png" class="image-entity" />
            </div>
            <figcaption class="caption">TOMAHAWK STEAK</figcaption>
        </figure>
    </div>

    <div class="item image">
        <span class="loading">Loading...</span>
        <figure>
            <div class="slide-image slide-media" style="background-image:url('https://images.unsplash.com/photo-1617339847756-976edbc411e7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTE4Mg&ixlib=rb-1.2.1&q=85');">
                <img data-lazy="https://images.unsplash.com/photo-1485178575877-1a13bf489dfe?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTIwOQ&ixlib=rb-1.2.1&q=85" class="image-entity" />
            </div>
            <figcaption class="caption">BEEF</figcaption>
        </figure>
    </div>

    <div class="item image">
        <span class="loading">Loading...</span>
        <figure>
            <div class="slide-image slide-media" style="background-image:url('https://images.unsplash.com/photo-1617339847756-976edbc411e7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTE4Mg&ixlib=rb-1.2.1&q=85');">
                <img data-lazy="https://images.unsplash.com/photo-1485178575877-1a13bf489dfe?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTIwOQ&ixlib=rb-1.2.1&q=85" class="image-entity" />
            </div>
            <figcaption class="caption">PIZZA</figcaption>
        </figure>
    </div>

    <div class="item image">
        <span class="loading">Loading...</span>
        <figure>
            <div class="slide-image slide-media" style="background-image:url('https://images.unsplash.com/photo-1617339847756-976edbc411e7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTE4Mg&ixlib=rb-1.2.1&q=85');">
                <img data-lazy="https://images.unsplash.com/photo-1485178575877-1a13bf489dfe?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTIwOQ&ixlib=rb-1.2.1&q=85" class="image-entity" />
            </div>
            <figcaption class="caption">PASTA</figcaption>
        </figure>
    </div>

    <div class="item image">
        <span class="loading">Loading...</span>
        <figure>
            <div class="slide-image slide-media" style="background-image:url('https://images.unsplash.com/photo-1617339847756-976edbc411e7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTE4Mg&ixlib=rb-1.2.1&q=85');">
                <img data-lazy="https://images.unsplash.com/photo-1485178575877-1a13bf489dfe?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTIwOQ&ixlib=rb-1.2.1&q=85" class="image-entity" />
            </div>
            <figcaption class="caption">SALAD</figcaption>
        </figure>
    </div>

    <div class="item image">
        <span class="loading">Loading...</span>
        <figure>
            <div class="slide-image slide-media" style="background-image:url('https://images.unsplash.com/photo-1617339847756-976edbc411e7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTE4Mg&ixlib=rb-1.2.1&q=85');">
                <img data-lazy="https://images.unsplash.com/photo-1485178575877-1a13bf489dfe?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTIwOQ&ixlib=rb-1.2.1&q=85" class="image-entity" />
            </div>
            <figcaption class="caption">DESSERT</figcaption>
        </figure>
    </div>

</section>

<section class="container">
    <div class="content">
        <p>asdsadasdsadasdsadsadsa</p>

        <p>dantlasdsadsadsadsasasdasdsadsadsadsadsadsaddnde.</p>
    </div>
</section>



</body>
<script src="/js/mainpagetest.js"></script>
</html>