<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/order.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <title>Product List</title>
</head>
<body>

<span>추천 메뉴: </span>
<span th:text="${TodayProduct.getName()}"></span>

<table>
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Is Orderable</th>
    </tr>
    </thead>
    <tbody id="productList">
    <tr th:each="product : ${productList}" th:id="'item_' + ${product.product_id}">
        <td class='productId' th:text="${product.product_id}"></td>
        <td class='productName' th:text="${product.name}"></td>
        <td class='productPrice' th:text="${product.price}"></td>
        <td th:style="${product.is_orderable ? 'color: gray' : ''}"
            th:text="${product.is_orderable ? 'Yes' : 'No'}"></td>
        <td>
            <label th:for="'quantity_' + ${product.product_id}"></label>
            <input type="number" th:id="'quantity_' + ${product.product_id}" value="1" min="1" max="10" step="1">
        </td>
        <td>
            <button
                    th:productId="${product.product_id}"
                    th:productName="${product.name}"
                    th:productPrice="${product.price}"
            >
                장바구니 담기
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <span>주문 총액: </span>
    <span id="totalPrice">0</span>
</div>

<button id="order">주문하기</button>
</body>
</html>
